@import "../common/common.css";

.atlas-container {
    margin-top: 20px; 
    align-items: center;
}

.createdbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: center;
    z-index: 1;
}
.createdbox p {
    color: white;
    font-size: 70px;
}
.mil-plugin {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.ver {
    display: flex;
    z-index: 1;
}

.mil-plugin p {
    font-size: xx-large;
    text-shadow: 0 0 20px rgb(0 186 255);
}

.ver p {
    font-size: large;
    text-shadow: 0 0 20px #fff700;
}
